
// panels
@panel-default-border: #333;

// Brand Colors override
@brand-primary: #EEE04A;
@brand-success: #5cb85c;
@brand-info:    #3c2629;
@brand-warning: #f0ad4e;
@brand-danger:  #423e2c;

#contact-summary, 
#contact-form .radio {
  display: none;
  font-style: italic;
}

#footer li .btn-link {
  font-size: 14px;
  font-weight: normal;
  padding: 0;
}